body {
    font-family: 'Inter', sans-serif;
    background: #f7f7f7;
}

.app {
    max-width: 1010px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 0 2rem 2rem;

    @media (max-width: 460px) {
        padding: 0 1rem 1rem;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.ant-pagination {
    li {
        border: none;
        font-size: 12px;
        line-height: 22px;

        button.ant-pagination-item-link {
            border: none;
            min-width: 20px;
            height: 20px;
        }
    }

    &-item-active {
        background: #1890ff !important;
        border-radius: 4px;
        min-width: 22px;
        height: 26px;
        font-size: 12px;

        a,
        &:link a,
        &:visited a,
        &:hover a,
        &:focus a {
            color: #ffffff !important;
            font-size: 12px;
        }
    }

    &-options {
        display: none;
    }
}
