// Миксины
@mixin text-style($size, $line-height, $color: #000000, $weight: 400, $style: normal) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}

@mixin flex-container($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.ant-card-body {
  padding: 0 !important;
}

.movie-card {
  @include flex-container();
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  height: 280px;
  position: relative;

  &__img-wrapper {
    height: 100%;
    flex-basis: 330px;
    overflow: hidden;
    @include flex-container(row, center, center);
  }

  &__info {
    padding: 12px 20px;
    @include flex-container(column);
    flex-basis: 450px;
    flex-grow: 2;
  }

  &__title {
    @include text-style(20px, 26px);
    margin-bottom: 6px;
    margin-right: 30px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__date {
    @include text-style(12px, 22px, #827E7E);
    margin-bottom: 8px;
  }

  &__genres {
    @include flex-container();
    margin-bottom: 8px;
  }

  &__description {
    @include text-style(12px, 22px);
  }

  &__stars {
    @include flex-container();
    margin-top: auto;
    margin-bottom: 10px;

    .ant-rate-star:not(:last-child) {
      margin-right: auto;
    }
  }

  &__rate {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 2px solid #E9D100;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 8px;
    @include text-style(12px, 26px);
    text-align: center;
  }
}

.genre {
  background: #FAFAFA;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  @include text-style(12px, 15px, rgba(0, 0, 0, 0.65));
  padding: 3px 5px;
  margin-right: 8px;
}