.ant-card-body {
  padding: 0;
}

.movie-card {
  display: flex;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  height: 280px;
  position: relative;
}

.movie-card__img-wrapper {
  height: 100%;
  flex-basis: 330px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center
}

.movie-card__info {
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 450px;
  flex-grow: 2;
  max-width: 100%;
}

.movie-card__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 6px;
  color: #000000;
  margin-right: 30px;
}

.movie_card__date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #827E7E;
  margin-bottom: 8px;
}

.movie-card__genres {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
}

.genre {
  background: #FAFAFA;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.65);
  padding: 3px 5px;
  margin-right: 8px;
}

.movie-card__description {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

.movie-card__stars {
  display: flex;
  margin-top: auto;
  margin-bottom: 10px;
}

.movie-card__stars .ant-rate-star:not(:last-child) {
  margin-right: auto;
}

.movie-card__rate {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 2px solid #E9D100;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 8px;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}