@mixin text-style($size, $line-height, $color: #000000, $weight: 400, $style: normal) {
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
    color: $color;
}

@mixin flex-container($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.ant-card-body {
    padding: 0 !important;
}

.movie-card {
    @include flex-container();
    position: relative;
    height: 280px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    font-family: 'Inter', sans-serif;

    &__img-wrapper {
        @include flex-container(row, center, center);
        flex-basis: 330px;
        height: 100%;
        overflow: hidden;
    }

    &__info {
        @include flex-container(column);
        flex-basis: 450px;
        flex-grow: 2;
        padding: 12px 20px;
    }

    &__title {
        @include text-style(20px, 26px);
        display: -webkit-box;
        margin-right: 30px;
        margin-bottom: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    &__date {
        @include text-style(12px, 22px, #827e7e);
        margin-bottom: 8px;
    }

    &__genres {
        @include flex-container();
        margin-bottom: 8px;
    }

    &__description {
        @include text-style(12px, 22px);
    }

    &__stars {
        @include flex-container();
        margin-top: auto;
        margin-bottom: 10px;

        .ant-rate-star:not(:last-child) {
            margin-right: auto;
        }
    }

    &__rate {
        position: absolute;
        top: 12px;
        right: 8px;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border: 2px solid #e9d100;
        border-radius: 50%;
        @include text-style(12px, 26px);
        text-align: center;
    }
}

.genre {
    @include text-style(12px, 15px, rgba(0, 0, 0, 0.65));
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background: #fafafa;
    padding: 3px 5px;
    margin-right: 8px;
}

@media (max-width: 990px) {
    .movie-card {
        &__img-wrapper {
            position: absolute;
            top: 6px;
            left: 10px;
            width: 91px;
            height: auto;
        }

        &__info {
            padding: 10px;
        }

        &__header {
            margin-left: 100px;
            min-height: 140px;
        }

        &__stars {
            margin-left: 25%;
            margin-right: 5px;
        }
    }
}

@media (max-width: 340px) {
    .movie-card {
        height: 300px;
        &__stars {
            margin-right: 15px;
            margin-top: 5px;
        }
    }
}
